.cabeçalho__menu-quadriculas{
    width: 60px;
    height: 60px;
    background-image: url("../PROVA/imagens/menu.svg");
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
}
.cabeçalho{
    background-color: #b7d4a8;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    margin: 10px;
}
.container{
    display: flex;
    align-items: center;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 30vw;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-do-menu-categorias);
    text-transform: uppercase;
}
.lista-menu__titulo{
    color: var(--cor-fonte-menu);
    font-weight: bold;
}
.lista-menu__link-1{
    color: var(--cor-fonte-menu);
    text-decoration: none;
    font-weight: bold;
}
.lista-menu__link-2{
    color: var(--cor-fonte-menu);
    text-decoration: none;
    font-weight: bold;
}
.lista-menu__link-3{
    color: var(--cor-fonte-menu);
    text-decoration: none;
    font-weight: bold;
}
.container__botao{
    display: none;
}
